{$header}
{if isset($error)}<div class="error_gen marg10"><b>Hata:</b> {$error}</div>{/if}
<div class="box_head"></div>
<div class="box_body">
	<div class="heading_title">{$title}</div>
	<div class="heading_desc">{if isset($description)}{$description}{/if}</div>
	<div class="buttons">
		<div style="margin-bottom:10px;">
			<form id="search" method="get" autocomplete="off">
				<input type="hidden" name="controller" value="{if isset($search_action)}{$search_action}{else}post{/if}"/>
				<input type="text" name="search_query" value="{if isset($search_query)}{$search_query}{/if}" placeholder="Haber Adı" class="input1"> <a href="javascript:;" onclick="$('form#search').submit();" class="button">Ara</a>
			</form>
		</div>
		<a href="{$insert}" class="button">Ekle</a> <a onClick="$('form#categoryDelete').submit();" class="button">Seçili Haberleri Sil</a>
	</div>
	{if $posts}
	<form action="{$action}" method="post" autocomplete="off" id="categoryDelete">
		<table class="list">
			<tr class="head">
				<td width="1%" align="center"><input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);" /></td>
				<td width="20%"><a href="{$link.name.url}" class="{$link.name.class}">Başlık</a></td>
				<td align="center" width="10%"><a href="{$link.sort_order.url}" class="{$link.sort_order.class}">Sıralama</a></td>
				<td width="10%"><a href="{$link.user_id.url}" class="{$link.user_id.class}">Ekleyen Kişi</a></td>
				<td width="10%"><a href="{$link.date_added.url}" class="{$link.date_added.class}">Eklenme Tarihi</a></td>
				<td width="10%"><a href="{$link.last_update_user_id.url}" class="{$link.last_update_user_id.class}">Güncelleyen</a></td>
				<td width="10%"><a href="{$link.date_updated.url}" class="{$link.date_updated.class}">Güncellenme Tarihi</a></td>
				<td width="5%" class="center"><a href="{$link.status.url}" class="{$link.status.class}">Durumu</a></td>
				<td width="10%" align="right">İşlem</td>
			</tr>
			{foreach from = $posts item = i}
			<tr class="gridrow_">
				<td align="center"><input type="checkbox" name="selected[]" value="{$i.id}" /></td>
				<td>{$i.name}</td>
				<td align="center">{$i.sort_order}</td>
				<td>{$i.add_username}</td>
				<td>{$i.date_added}</td>
				<td>{$i.last_update_username}</td>
				<td>{$i.date_updated}</td>
				<td align="center"><img src="view/image/{if $i.status == 1}active{else}passive{/if}.png" /></td>
				<td align="right"> [<a href="{$i.edit}">düzenle</a>]</td>
			</tr>
			{/foreach}
		</table>
	</form>
	{if $pagination}<div class="pagination">{$pagination}</div>{/if}
	{else}
	<div class="attention"><b>Uyarı: </b> Kayıtlı haber bulunamadı.</div>
	{/if}
</div>
{$footer}
