{$header}
{$menu}
<div id="content" class="specialBG">
  <div class="container content">
      <div class="row">
        <div class="box col-xs-12 col-md-10 col-md-offset-1 noPadding">


            <span class="col-xs-12 headLine"><h1>Bize Ulaşın</h1></span>
            <div class="col-xs-12 pageDescription noPadding">

              <p>
                <b>E-posta Adresimiz</b></br> test@test.com
              </p>
              <p>
                <b>Yazışma adresimiz</b></br>Sakarya / Türkiye
              </p>
              <p>
                <b>Telefon numaramız</b></br>+90 545 608 86 77
              </p>
              <p>
                <b>İçerik Sağlayıcı</b></br>Şeyma Göl
              </p>

            </div>

						<div class="col-xs-12 noPadding socialMedia">
              <div class="postShare">
                  <a href="{$post_share.twitter}" target="_blank"><i class="fa share t fa-twitter" aria-hidden="true"></i></a>
                  <a href="{$post_share.gmail}" target="_blank"><i class="fa share g fa-google" aria-hidden="true"></i></a>
                  <a href="{$post_share.linkedin}" target="_blank"><i class="fa share in fa-linkedin" aria-hidden="true"></i></a>
                  <a href="{$post_share.whatsapp}"  data-action="share/whatsapp/share"><i class="fa share wp fa-whatsapp" aria-hidden="true"></i></a>
              </div>
            </div>

  	   </div>
    </div>
  </div>
</div>
{$footer}
