{$header}
{$menu}
<div id="content" class="specialBG">
  <div class="container content">
      <div class="row">
        <div class="box col-xs-12 col-md-10 col-md-offset-1 noPadding">


            <span class="col-xs-12 headLine"><h1>Hukuki Şartlar & Gizlilik</h1></span>
            <div class="col-xs-12 pageDescription noPadding">

              <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
              </p>
              <p>
                Vulputate varius a nec vestibulum mi habitant tempor pulvinar hac nascetur donec odio vestibulum nec vestibulum aliquam nullam condimentum phasellus vel eget nibh adipiscing massa a vestibulum velit augue. Ipsum penatibus mus aenean adipiscing viverra lacus platea nam facilisi mi tempor non phasellus consectetur malesuada. In neque faucibus purus velit tincidunt sed luctus maecenas at pretium morbi at pretium sem at ridiculus himenaeos adipiscing habitasse hac. Imperdiet nec suspendisse hendrerit sit parturient nisi id a nunc placerat a condimentum malesuada vulputate elementum est condimentum himenaeos lectus scelerisque.
              </p>
              <p>
                Senectus volutpat aenean a ullamcorper hac scelerisque tristique condimentum morbi consequat scelerisque condimentum eros malesuada dapibus in a netus accumsan congue a pharetra consectetur class ultrices consectetur. Cubilia vestibulum suspendisse himenaeos etiam etiam nam et dis consectetur ligula adipiscing cum parturient adipiscing sapien enim nec dui litora volutpat. In scelerisque ultricies nascetur urna sed congue egestas imperdiet parturient et interdum a eu dapibus ultricies ligula leo ut tortor interdum enim per torquent morbi ullamcorper et eu. Tristique placerat sed a sed a ridiculus mauris porttitor phasellus sit cubilia metus facilisis a taciti porttitor cum posuere eu a.
              </p>
              <p>
                Elementum diam blandit ultrices diam habitasse arcu non vestibulum mus a suscipit ullamcorper facilisi duis mi pharetra blandit a scelerisque mauris praesent ultricies. Sociosqu adipiscing penatibus eu eleifend augue a aliquam neque vestibulum ornare donec eget condimentum a dictumst nam inceptos. Dapibus ac laoreet dignissim per ad ad litora hac consectetur fames bibendum turpis eros scelerisque a penatibus a a dictumst arcu. Etiam vestibulum senectus non vestibulum bibendum diam a nascetur eros suspendisse tempus convallis eu condimentum interdum ad curabitur neque vestibulum posuere erat eu nisl.
              </p>

              <p>
                Parturient risus scelerisque vel vulputate dolor parturient a urna mi feugiat erat mi semper euismod parturient cum dignissim ligula inceptos himenaeos integer senectus nec volutpat scelerisque. Orci litora ultricies facilisis ut a condimentum lacus luctus iaculis parturient parturient id senectus massa adipiscing parturient a a. Tellus at mollis volutpat conubia ullamcorper nunc leo a tempor ullamcorper nam orci augue sociosqu sed natoque varius ultrices luctus scelerisque lorem rhoncus donec penatibus scelerisque fusce.
              </p>
              <p>
                Vulputate varius a nec vestibulum mi habitant tempor pulvinar hac nascetur donec odio vestibulum nec vestibulum aliquam nullam condimentum phasellus vel eget nibh adipiscing massa a vestibulum velit augue. Ipsum penatibus mus aenean adipiscing viverra lacus platea nam facilisi mi tempor non phasellus consectetur malesuada. In neque faucibus purus velit tincidunt sed luctus maecenas at pretium morbi at pretium sem at ridiculus himenaeos adipiscing habitasse hac. Imperdiet nec suspendisse hendrerit sit parturient nisi id a nunc placerat a condimentum malesuada vulputate elementum est condimentum himenaeos lectus scelerisque.
              </p>
              <p>
                Senectus volutpat aenean a ullamcorper hac scelerisque tristique condimentum morbi consequat scelerisque condimentum eros malesuada dapibus in a netus accumsan congue a pharetra consectetur class ultrices consectetur. Cubilia vestibulum suspendisse himenaeos etiam etiam nam et dis consectetur ligula adipiscing cum parturient adipiscing sapien enim nec dui litora volutpat. In scelerisque ultricies nascetur urna sed congue egestas imperdiet parturient et interdum a eu dapibus ultricies ligula leo ut tortor interdum enim per torquent morbi ullamcorper et eu. Tristique placerat sed a sed a ridiculus mauris porttitor phasellus sit cubilia metus facilisis a taciti porttitor cum posuere eu a.
              </p>
              <p>
                Elementum diam blandit ultrices diam habitasse arcu non vestibulum mus a suscipit ullamcorper facilisi duis mi pharetra blandit a scelerisque mauris praesent ultricies. Sociosqu adipiscing penatibus eu eleifend augue a aliquam neque vestibulum ornare donec eget condimentum a dictumst nam inceptos. Dapibus ac laoreet dignissim per ad ad litora hac consectetur fames bibendum turpis eros scelerisque a penatibus a a dictumst arcu. Etiam vestibulum senectus non vestibulum bibendum diam a nascetur eros suspendisse tempus convallis eu condimentum interdum ad curabitur neque vestibulum posuere erat eu nisl.
              </p>

              <p>
                Parturient risus scelerisque vel vulputate dolor parturient a urna mi feugiat erat mi semper euismod parturient cum dignissim ligula inceptos himenaeos integer senectus nec volutpat scelerisque. Orci litora ultricies facilisis ut a condimentum lacus luctus iaculis parturient parturient id senectus massa adipiscing parturient a a. Tellus at mollis volutpat conubia ullamcorper nunc leo a tempor ullamcorper nam orci augue sociosqu sed natoque varius ultrices luctus scelerisque lorem rhoncus donec penatibus scelerisque fusce.
              </p>
              <p>
                Vulputate varius a nec vestibulum mi habitant tempor pulvinar hac nascetur donec odio vestibulum nec vestibulum aliquam nullam condimentum phasellus vel eget nibh adipiscing massa a vestibulum velit augue. Ipsum penatibus mus aenean adipiscing viverra lacus platea nam facilisi mi tempor non phasellus consectetur malesuada. In neque faucibus purus velit tincidunt sed luctus maecenas at pretium morbi at pretium sem at ridiculus himenaeos adipiscing habitasse hac. Imperdiet nec suspendisse hendrerit sit parturient nisi id a nunc placerat a condimentum malesuada vulputate elementum est condimentum himenaeos lectus scelerisque.
              </p>
              <p>
                Senectus volutpat aenean a ullamcorper hac scelerisque tristique condimentum morbi consequat scelerisque condimentum eros malesuada dapibus in a netus accumsan congue a pharetra consectetur class ultrices consectetur. Cubilia vestibulum suspendisse himenaeos etiam etiam nam et dis consectetur ligula adipiscing cum parturient adipiscing sapien enim nec dui litora volutpat. In scelerisque ultricies nascetur urna sed congue egestas imperdiet parturient et interdum a eu dapibus ultricies ligula leo ut tortor interdum enim per torquent morbi ullamcorper et eu. Tristique placerat sed a sed a ridiculus mauris porttitor phasellus sit cubilia metus facilisis a taciti porttitor cum posuere eu a.
              </p>
              <p>
                Elementum diam blandit ultrices diam habitasse arcu non vestibulum mus a suscipit ullamcorper facilisi duis mi pharetra blandit a scelerisque mauris praesent ultricies. Sociosqu adipiscing penatibus eu eleifend augue a aliquam neque vestibulum ornare donec eget condimentum a dictumst nam inceptos. Dapibus ac laoreet dignissim per ad ad litora hac consectetur fames bibendum turpis eros scelerisque a penatibus a a dictumst arcu. Etiam vestibulum senectus non vestibulum bibendum diam a nascetur eros suspendisse tempus convallis eu condimentum interdum ad curabitur neque vestibulum posuere erat eu nisl.
              </p>

              <p>
                Parturient risus scelerisque vel vulputate dolor parturient a urna mi feugiat erat mi semper euismod parturient cum dignissim ligula inceptos himenaeos integer senectus nec volutpat scelerisque. Orci litora ultricies facilisis ut a condimentum lacus luctus iaculis parturient parturient id senectus massa adipiscing parturient a a. Tellus at mollis volutpat conubia ullamcorper nunc leo a tempor ullamcorper nam orci augue sociosqu sed natoque varius ultrices luctus scelerisque lorem rhoncus donec penatibus scelerisque fusce.
              </p>
              <p>
                Vulputate varius a nec vestibulum mi habitant tempor pulvinar hac nascetur donec odio vestibulum nec vestibulum aliquam nullam condimentum phasellus vel eget nibh adipiscing massa a vestibulum velit augue. Ipsum penatibus mus aenean adipiscing viverra lacus platea nam facilisi mi tempor non phasellus consectetur malesuada. In neque faucibus purus velit tincidunt sed luctus maecenas at pretium morbi at pretium sem at ridiculus himenaeos adipiscing habitasse hac. Imperdiet nec suspendisse hendrerit sit parturient nisi id a nunc placerat a condimentum malesuada vulputate elementum est condimentum himenaeos lectus scelerisque.
              </p>
              <p>
                Senectus volutpat aenean a ullamcorper hac scelerisque tristique condimentum morbi consequat scelerisque condimentum eros malesuada dapibus in a netus accumsan congue a pharetra consectetur class ultrices consectetur. Cubilia vestibulum suspendisse himenaeos etiam etiam nam et dis consectetur ligula adipiscing cum parturient adipiscing sapien enim nec dui litora volutpat. In scelerisque ultricies nascetur urna sed congue egestas imperdiet parturient et interdum a eu dapibus ultricies ligula leo ut tortor interdum enim per torquent morbi ullamcorper et eu. Tristique placerat sed a sed a ridiculus mauris porttitor phasellus sit cubilia metus facilisis a taciti porttitor cum posuere eu a.
              </p>
              <p>
                Elementum diam blandit ultrices diam habitasse arcu non vestibulum mus a suscipit ullamcorper facilisi duis mi pharetra blandit a scelerisque mauris praesent ultricies. Sociosqu adipiscing penatibus eu eleifend augue a aliquam neque vestibulum ornare donec eget condimentum a dictumst nam inceptos. Dapibus ac laoreet dignissim per ad ad litora hac consectetur fames bibendum turpis eros scelerisque a penatibus a a dictumst arcu. Etiam vestibulum senectus non vestibulum bibendum diam a nascetur eros suspendisse tempus convallis eu condimentum interdum ad curabitur neque vestibulum posuere erat eu nisl.
              </p>

            </div>

						<div class="col-xs-12 noPadding socialMedia">
              <div class="postShare">
                  <a href="{$post_share.facebook}" target="_blank"><i class="fa share fb fa-facebook" aria-hidden="true"></i></a>
                  <a href="{$post_share.twitter}" target="_blank"><i class="fa share t fa-twitter" aria-hidden="true"></i></a>
                  <a href="{$post_share.gmail}" target="_blank"><i class="fa share g fa-google" aria-hidden="true"></i></a>
                  <a href="{$post_share.linkedin}" target="_blank"><i class="fa share in fa-linkedin" aria-hidden="true"></i></a>
                  <a href="{$post_share.whatsapp}"  data-action="share/whatsapp/share"><i class="fa share wp fa-whatsapp" aria-hidden="true"></i></a>
                  <a href="{$post_share.pinterest}" target="_blank"><i class="fa share pin fa-pinterest-p" aria-hidden="true"></i></a>
              </div>
            </div>

  	   </div>
    </div>
  </div>
</div>
{$footer}
